:root {
    /* Primary */
    --color-report: hsl(246, 80%, 60%);

    --color-exercise: hsl(145, 58%, 55%);
    --color-play: hsl(195, 74%, 62%);
    --color-self-care: hsl(43, 84%, 65%);
    --color-social: hsl(264, 64%, 52%);
    --color-study: hsl(348, 100%, 68%);
    --color-work: hsl(15, 100%, 70%);

    /* Neutral */
    --color-neutral-blue-200: hsl(236, 100%, 87%);
    --color-neutral-blue-300: hsl(235, 45%, 61%);
    --color-neutral-blue-350: hsl(235, 41%, 34%);
    --color-neutral-blue-400: hsl(235, 46%, 20%);
    --color-neutral-blue-500: hsl(226, 43%, 10%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;